/* navBar */

.navbar{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.brand-logo{
font-size: 22px;
}

.nav-links{
  margin-left: auto;
padding: 0 15px;
}

.nav-links ul{
  display: flex;
  flex-direction: row;
}

.nav-item{
padding: 18px;
font-size: 15px;
line-height: 26px;
text-transform: lowercase;
cursor: pointer;
}

/* About me modal */

.full-site-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transition: all 0.35s ease-in;
  visibility: hidden;
  opacity: 0;
}

.modal-header{
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
  padding: 0 20px;
}

.modal-header i.fa-times{
  transition: all .5s ease-in;
  font-size: 1.5rem;
}

.modal-header i.fa-times:hover{
  transition: scale(1.5);
  cursor: pointer;
}

.full-site-modal.is-visible{
  visibility: visible;
  opacity: 1;
}

.modal-body{
  display: flex;
  flex-flow: row nowrap;
  gap: 150px;
  justify-content: center;
  align-items: center;
}
.modal-body .img-wrapper img{
  width: 300px;
  height: 300px;
  border-radius: 50rem;
}

[data-animation="zoomInOut"].full-site-modal{
  transform: scale(0.2);
}

[data-animation="zoomInOut"].full-site-modal.is-visible{
  transform: scale(1);
}


/* Contact Modal */
#contact .modal-body{
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  padding-top: 30px;
}

#contact .modal-body form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact .modal-body form .block{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#contact .modal-body form .block .subfield{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subfield label{
  font-size: 18px;
  padding: 5px 0;
}

.subfield input{
  padding: 10px;
  border: none;
}

.input-wrapper{
  border-bottom: 1px solid var(--color-text);
}

input:focus, textarea:focus{
  outline: none;
}


/* hero section */

.hero{
  height: 500px;
}

.hero-text{
  text-align: center;
  margin-top: 5px;
}
.hero-text i{
  font-size: 38px;
  background-color: #d93d11;
  padding: 20px 15px;
  border-radius: 50%;
}

.hero-text a{
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
}

