:root{
  --bg: white;
  --bg-panel: white;
  --color-headings: #161c2d;
  --color-text-opacity: rgba(22,28,45, .7);
  --color-text: #161c2d;
  --color-text-base: #161c2d;
  --border: #383f53;
  
}

.hero-bg{
  background-image: url('../assets/img/week\ 8\ image\ assets/hero-pattern.webp');
  background-repeat: none;
  background-position: center;
  background-size: cover;
}